@charset 'utf-8';

body,
html {
  margin: 0;
  padding: 0;
}

$css4: false;

.dark-mode {
  // ---------- Basic 基础颜色 --------------------
  --primary-color-outline: rgb(231, 180, 180, 0.2);
  // 浅主题色，但是用于辅助显示主题色; 比如 Switch 的 track bar
  --primary-color-lighter: rgb(231, 180, 180);
  // 主题色，但是用于大色块，比如实心的按钮颜色
  --primary-color-light: #de8c8c;
  // 主题色变种2, 用于突出背景，比如在纯色背景的文字，复选框 Icon 等
  --primary-color: #df8484;
  // 主题色变种3, 用于纯色背景的文字、链接悬浮与激活状态
  --primary-color-dark: #cf7171;
  // 组件主题背景颜色
  --theme-background-color: #3a3a3a;
  // 前景色，比如默认文字
  --forground-color: #fbfbfb;
  // --------- Status 状态颜色 ------------------
  // 错误颜色，用于显示错误信息，或者强调重要操作
  --error-color: #ff4f4f;
  --error-color-light: lighten(#ff4f4f, 20%);
  --error-color-lighter: lighten(#ff4f4f, 30%);
  // 成功颜色，用于显示成功信息
  --success-color: #75d856;
  --success-color-light: lighten(#75d856, 30%);
  --success-color-lighter: lighten(#75d856, 50%);
  // 信息颜色
  --info-color: #999999;
  --info-color-light: lighten(#999999, 20%);
  --info-color-lighter: lighten(#999999, 35%);
  // 警告颜色
  --warn-color: #fac200;
  --warn-color-light: lighten(#fac200, 20%);
  --warn-color-lighter: lighten(#fac200, 45%);
  // --------- Functional 功能颜色 -------------
  // 链接颜色
  --link-color: #0095ff;
  // --------- Accents 辅助颜色 ------------------
  --accents-color-1: #fbfbfb;
  --accents-color-2: #f5f5f5;
  --accents-color-3: #f1f2f4;
  --accents-color-4: #efefef;
  --accents-color-12: #eee;
  --accents-color-11: #ececec;
  --accents-color-10: #e8e8e8;
  --accents-color-9: #dbdbdb;
  --accents-color-8: #c8c8c8;
  --accents-color-7: #aaaaaa;
  --accents-color-6: #999999;
  --accents-color-5: #666666;
  --accents-color-13: #333333;
  --accents-color-14: #323232;
  --accents-color-15: #1d1d1d;
  --accents-color-16: #000000;
  // 浮层影子
  --popup-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.2);
}

// ------------------- 颜色 ----------------------
$variables: (
  --primary-color-outline: #89ccfc48,
  --primary-color-lighter: #59baff,
  --primary-color-light: #0095ff,
  --primary-color: #008df0,
  --primary-color-dark: #007ed8,
  --theme-background-color: #fff,
  --forground-color: #1d1d1d,
  --error-color: #ff4f4f,
  --error-color-light: lighten(#ff4f4f, 20%),
  --error-color-lighter: lighten(#ff4f4f, 30%),
  --success-color: #21ce3d,
  --success-color-light: lighten(#21ce3d, 30%),
  --success-color-lighter: lighten(#21ce3d, 50%),
  --info-color: #999999,
  --info-color-light: lighten(#999999, 20%),
  --info-color-lighter: lighten(#999999, 35%),
  --warn-color: #fac200,
  --warn-color-light: lighten(#fac200, 20%),
  --warn-color-lighter: lighten(#fac200, 45%),
  --link-color: #0095ff,
  --accents-color-16: #fbfbfb,
  --accents-color-15: #f5f5f5,
  --accents-color-14: #f1f2f4,
  --accents-color-13: #efefef,
  --accents-color-12: #eee,
  --accents-color-11: #ececec,
  --accents-color-10: #e8e8e8,
  --accents-color-9: #dbdbdb,
  --accents-color-8: #c8c8c8,
  --accents-color-7: #aaaaaa,
  --accents-color-6: #999999,
  --accents-color-5: #666666,
  --accents-color-4: #333333,
  --accents-color-3: #323232,
  --accents-color-2: #1d1d1d,
  --accents-color-1: #000000,
  --popup-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.06),
);

.tf-button.tf-button--emphasis {
  color: var(--theme-background-color);
}

:export {
  @each $variable, $value in $variables {
    #{$variable}: $value;
  }
}

@import "~@yy/tofu-ui-react/src/scss/index.scss";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Editor {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Tools {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid var(--accents-color-10);
  padding: 10px;
}

.EditorContent {
  position: relative;
  display: flex;
  height: calc(100vh - 50px);
  background-color: var(--accents-color-12);
}

.SiderRight,
.Sider {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  background-color: var(--theme-background-color);
  // padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.SiderScrollable {
  overflow: auto;
}

.ToolsTabs.tf-tabs,
.MaterialTabs.tf-tabs,
.SiderTabs.tf-tabs {
  height: 49px;
  padding: 0;
  .tf-tabs-main {
    display: flex;
  }
  .tf-tab {
    flex-grow: 1;
    border: 1px solid var(--accents-color-10);
    margin-right: 0;
    width: 80px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    &.tf-tab--active {
      border-color: var(--primary-color);
      font-weight: normal;
      color: var(--primary-color);
      background-color: var(--primary-color-outline);
      &::after {
        height: 0;
      }
    }
    &:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: 0;
      &.tf-tab--active {
        box-shadow: -1px 0 0 var(--primary-color) inset;
      }
    }
    &:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.ToolsTabs.tf-tabs .tf-tab {
  width: 60px;
  .tf-tooltip {
    width: 100%;
    font-size: 16px;
  }
}
.SiderTabs.tf-tabs {
  height: 42px;
  .tf-tabs-main {
    height: 42px;
  }
  .tf-tab {
    height: 42px;
    line-height: 42px;
    background-color: var(--accents-color-15);
    color: var(--accents-color-6);
    &.tf-tab--active {
      background-color: var(--theme-background-color);
      border: none;
      color: var(--accents-color-6);
    }
    &:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      &.tf-tab--active {
        box-shadow: none;
      }
    }
  }
}

.MaterialList {
  padding: 10px;
  box-sizing: border-box;
}
.MaterialContainer {
  // padding: 0 10px 10px;
}

.Content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.Canvas {
  flex-grow: 1;
  background-color: var(--theme-background-color);
  margin: 10px;
}
.CanvasBreadcrumb {
  padding: 10px 10px 0 10px;
  .tf-breadcrumbs .tf-breadcrumbs-item {
    font-size: 14px;
  }
}

// .PropControllPopper {
//   .tf-popover-content {
//     padding: 0 0 15px;
//   }
//   .PropsController {
//     width: 300px;
//     background-color: var(--theme-background-color);
//     .tf-tabs {
//       height: 40px;
//       border-bottom: 1px solid var(--accents-color-10);
//     }
//   }
// }

.ComponentWrap {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:hover::before {
    border: 1px dashed var(--primary-color);
  }
  &.active::before,
  &.active:hover::before {
    // background-color: var(--primary-color-outline);
    border: 1px solid var(--primary-color);
  }

  &.active .ResizeDot {
    display: block;
  }

  .ResizeDot {
    display: none;
    position: absolute;
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
    background-color: var(--theme-background-color);
    z-index: 1;
  }
  .TopLeftDot {
    top: -4px;
    left: -4px;
  }
  .TopRightDot {
    top: -4px;
    right: -4px;
  }
  .BottomLeftDot {
    bottom: -4px;
    left: -4px;
  }
  .BottomRightDot {
    bottom: -4px;
    right: -4px;
  }
}

.MaterialItem {
  cursor: grab;
  box-sizing: border-box;
  .DisplayIcon {
    display: inline-block;
    height: 50px;
    width: 50px;
  }
}

.PropsPaneFields {
  padding: 10px;
}

.PropsPane {
  .PropsPaneHeaderSub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    color: var(--accents-color-5);
  }
  .PropsPaneContent {
    .ant-tabs-nav-wrap {
      padding: 0 10px;
    }
    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }
  .PropsPaneHeader {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accents-color-10);
    padding: 10px;
    background-color: var(--theme-background-color);
    z-index: 100;
    & > p {
      color: var(--accents-color-3);
      font-size: 18px;
      margin: 0;
      span:last-of-type {
        display: inline-block;
        color: var(--accents-color-5);
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
  .PropsPaneField {
    box-sizing: border-box;
    padding: 5px 0 15px;
    border-bottom: 1px solid var(--accents-color-12);
    &:last-of-type {
      border-bottom: none;
    }
  }
  .PropsPaneFieldTitle {
    display: flex;
    align-items: center;
    color: var(--accents-color-5);
    font-size: 14px;
  }
}

.tf-ui-link.InfoTypeLink {
  color: var(--accents-color-6);
  &:hover {
    background-color: rgb(0, 0, 0, 0.05);
  }
}

.PopoverPopup {
  .tf-popover-content {
    min-width: 250px;
    p {
      color: var(--accents-color-4);
      font-size: 14px;
    }
  }
  .PopoverCtrl {
    display: flex;
  }
}

.CollapseGroup {
}
.CollapseContent {
}
.Collapse {
  .CollapseHeader {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--accents-color-15);
    color: var(--accents-color-4);
    font-weight: bold;
    border-bottom: 1px solid var(--accents-color-10);
    font-size: 14px;
    cursor: pointer;
    user-select: none;
  }
}

.ColorPickerBtn {
  position: relative;
  height: 26px;
  width: 60px;
  box-sizing: border-box;
  border: 1px solid var(--accents-color-7);
  border-radius: 4px;
  overflow: hidden;
  background-color: #eee;
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".25" > <rect x="50" width="50" height="50" /> <rect y="50" width="50" height="50" /> </svg>');
  background-size: 15px 15px;

  .ColorPickerSymbol {
    @include flex-center();
    position: absolute;
    height: 24px;
    width: 24px;
    right: 0;
    top: 0;
    background-color: white;
    border-left: 1px solid var(--accents-color-7);
  }

  .ColorPickerBtnColor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.ColorPickerPopper {
  .tf-popover-content {
    background-color: transparent;
    box-shadow: none;
  }
}

.NumberEditor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tf-input {
    width: 60px;
    height: 26px;
    .tf-input-main input {
      height: 24px;
      font-size: 12px;
    }
    .tf-input-suffix {
      height: 24px;
      font-size: 12px;
      color: var(--accents-color-6);
    }
  }
  div[data-reach-slider-input] {
    flex-grow: 1;
    margin-right: 10px;
    height: 3px;
    div[data-reach-slider-range] {
      background: var(--accents-color-7);
    }
    div[data-reach-slider-handle] {
      height: 8px;
      width: 8px;
      background: var(--accents-color-7);
      // user-select: none;
      outline: none;
    }
  }
}

.ComponentTree {
  // position: absolute;
  // bottom: 0;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--accents-color-10);
  overflow: auto;
  .ComponentTreeName {
    background-color: var(--accents-color-15);
    color: var(--accents-color-5);
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid var(--accents-color-10);
  }
  .ComponentTreeContent {
    background-color: var(--theme-background-color);
    padding: 10px;
  }
}

.MaterialSearch {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: var(--theme-background-color);
  border-bottom: 1px solid var(--accents-color-14);
}
.FramelessInput {
  border: none;
  &.tf-input--focus {
    box-shadow: none;
  }
}

.tf-button {
  border-radius: 4px !important;
}

.Header {
  height: 50px;
  padding: 0 10px;
  background-color: #001529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accents-color-6);
  .tf-button.tf-button--emphasis {
    color: white;
  }
}
.Logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 0 24px;
  background-image: url(./assets/images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #001529;
  background-blend-mode: luminosity;
}
.UpdateTime {
  cursor: default;
  display: inline-flex;
  height: 50px;
  align-items: center;
  font-size: 13px;
}

.ActionPaneFields {
}
.ActionItem {
  .ActionItemTrigger {
    height: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    & > svg {
      font-size: 16px;
      margin-right: 5px;
    }
    &:hover {
      background-color: var(--accents-color-14);
    }
  }
  .ActionItemExecution {
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px 0 30px;
    span:first-of-type {
      font-weight: 300;
      margin-right: 5px;
      color: var(--accents-color-5);
    }
  }
}

.TableColumnsItem {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  &:hover {
    background-color: var(--accents-color-12);
  }
  svg {
    font-size: 16px;
    vertical-align: middle;
  }
  .TableColumnsItemLeft {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: var(--accents-color-3);
  }
  .TableColumnsItemMoveIcon {
    margin-right: 10px;
  }
  .TableColumnsItemDelete {
    cursor: pointer;
    &:hover {
      color: var(--error-color);
    }
  }
}
.TableColumnsEditorAddButton {
  svg {
    font-size: 16px;
    vertical-align: text-top;
    margin-right: 5px;
  }
}
